@import "tailwindcss";

/* Esto elimina cualquier restricción de Vite y asegura el centrado */
:root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center; /* Ayuda al centrado inicial */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
}